@import "config";
.header {
    background-color: $color-1;
    margin-bottom: $gutter * 2;
    &__title {
        font-family: $font-heading;
        font-size: 3.5rem;
        font-weight: 500;
        margin-bottom: $gutter;       
        text-align: center;
    }
    &__content {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: $max-width;
    }
}