@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  // TODO more basic settings
}



// TODO get all sass files
@import "scss/...";
